.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-container h1 {
  margin-bottom: 0.5em;
}

.search-container {
  margin-bottom: 2em;
  width: 100%;
}

.search-container form {
  width: 30%;
  position: relative;
}

.search-container input {
  padding: 0.5em;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
